.jjinkong_logo {
    font-family: 'Jua', sans-serif;
}

.jjinkong_footer_button {
    font-size: 0.9rem;
}

.jjinkong_footer {
    text-align: center;
    margin-top: 2rem;
}

.jjinkong_header {
    text-align: center;
    margin: 2rem 0;
}